<div class="home-layout">
  <div class="left-home-layout">
    <app-mission-input></app-mission-input>
    <div class="target-mission">
      <div class="isComplete"></div>
      <h1>
        The first task to do today
      </h1>
    </div>
    <app-timer (countDown)="setLoaderBar($event)"></app-timer>
    <div class="mission"></div>
  </div>
  <div class="right-home-layout">
    <app-header></app-header>
  </div>


  <div class="circle-outer">
    <mat-progress-spinner mode="determinate" [value]="loaderBarValue" [diameter]="545" strokeWidth="10" color="">
    </mat-progress-spinner>
    <div class="circle-inner">
      <button class="timer-control">
        <mat-icon>
          play_arrow
        </mat-icon>
      </button>
    </div>
  </div>
</div>
